<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroPaginas</filter-name>
        <filter-class>controller.FiltroPaginas</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPaginas</filter-name>
        <url-pattern>/restrito/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Autenticador</servlet-name>
        <servlet-class>controller.Autenticador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>controller.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>controller.curso.Cadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Atualizar</servlet-name>
        <servlet-class>controller.curso.Atualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir</servlet-name>
        <servlet-class>controller.curso.Excluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFase</servlet-name>
        <servlet-class>controller.fase.CadastrarFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarFase</servlet-name>
        <servlet-class>controller.fase.AtualizarFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFase</servlet-name>
        <servlet-class>controller.fase.ExcluirFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarDisciplina</servlet-name>
        <servlet-class>controller.disciplina.CadastrarDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <servlet-class>controller.disciplina.AtualizarDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirDisciplina</servlet-name>
        <servlet-class>controller.disciplina.ExcluirDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarGrade</servlet-name>
        <servlet-class>controller.gradeCurricular.CadastrarGrade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticador</servlet-name>
        <url-pattern>/Autenticador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/restrito/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/restrito/controller.curso/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Atualizar</servlet-name>
        <url-pattern>/restrito/controller.curso/Atualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir</servlet-name>
        <url-pattern>/restrito/controller.curso/Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFase</servlet-name>
        <url-pattern>/restrito/controller.fase/CadastrarFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarFase</servlet-name>
        <url-pattern>/restrito/controller.fase/AtualizarFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFase</servlet-name>
        <url-pattern>/restrito/controller.fase/ExcluirFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/CadastrarDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/AtualizarDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/ExcluirDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarGrade</servlet-name>
        <url-pattern>/restrito/controller.gradeCurricular/CadastrarGrade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
