<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuario</servlet-name>
        <servlet-class>controller.usuario.AtualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarSenhaUsuario</servlet-name>
        <servlet-class>controller.usuario.AtualizarSenhaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controller.usuario.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>controller.usuario.AtivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAvaliacao</servlet-name>
        <servlet-class>controller.avaliacao.avpreliminar.CadastrarAvaliacao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltroPaginas</filter-name>
        <filter-class>controller.FiltroPaginas</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPaginas</filter-name>
        <url-pattern>/restrito/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Autenticador</servlet-name>
        <servlet-class>controller.Autenticador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticador</servlet-name>
        <url-pattern>/Autenticador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>controller.Sair</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/restrito/Sair</url-pattern>
        <url-pattern>/restrito/candidato/Sair</url-pattern>
        <url-pattern>/restrito/curso/Sair</url-pattern>
        <url-pattern>/restrito/turma/Sair</url-pattern>
        <url-pattern>/restrito/avaliacao/Sair</url-pattern>
        <url-pattern>/restrito/usuario/Sair</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>controller.curso.Cadastrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/restrito/curso/controller.curso/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Atualizar</servlet-name>
        <servlet-class>controller.curso.Atualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Atualizar</servlet-name>
        <url-pattern>/restrito/curso/controller.curso/Atualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Excluir</servlet-name>
        <servlet-class>controller.curso.Excluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Excluir</servlet-name>
        <url-pattern>/restrito/curso/controller.curso/Excluir</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarTurma</servlet-name>
        <servlet-class>controller.turma.CadastrarTurma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarTurma</servlet-name>
        <url-pattern>/restrito/turma/controller.turma/CadastrarTurma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirTurma</servlet-name>
        <servlet-class>controller.turma.ExcluirTurma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirTurma</servlet-name>
        <url-pattern>/restrito/turma/controller.turma/ExcluirTurma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PreCandidatura</servlet-name>
        <servlet-class>controller.aluno.PreCandidatura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreCandidatura</servlet-name>
        <url-pattern>/restrito/candidato/controller.aluno/PreCandidatura</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarFase</servlet-name>
        <servlet-class>controller.fase.CadastrarFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarFase</servlet-name>
        <servlet-class>controller.fase.AtualizarFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFase</servlet-name>
        <servlet-class>controller.fase.ExcluirFase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarDisciplina</servlet-name>
        <servlet-class>controller.disciplina.CadastrarDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <servlet-class>controller.disciplina.AtualizarDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirDisciplina</servlet-name>
        <servlet-class>controller.disciplina.ExcluirDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarGrade</servlet-name>
        <servlet-class>controller.gradeCurricular.CadastrarGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAssunto</servlet-name>
        <servlet-class>controller.assunto.CadastrarAssunto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarFase</servlet-name>
        <url-pattern>/restrito/controller.fase/CadastrarFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarFase</servlet-name>
        <url-pattern>/restrito/controller.fase/AtualizarFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFase</servlet-name>
        <url-pattern>/restrito/controller.fase/ExcluirFase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/CadastrarDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/AtualizarDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirDisciplina</servlet-name>
        <url-pattern>/restrito/controller.disciplina/ExcluirDisciplina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarGrade</servlet-name>
        <url-pattern>/restrito/controller.gradeCurricular/CadastrarGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAssunto</servlet-name>
        <url-pattern>/restrito/controller.assunto/CadastrarAssunto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Candidatura</servlet-name>
        <servlet-class>controller.aluno.Candidatura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Candidatura</servlet-name>
        <url-pattern>/restrito/candidato/controller.aluno/Candidatura</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarAvlPsico</servlet-name>
        <servlet-class>controller.avaliacao.psico.CadastrarAvlPsico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarAvlPsico</servlet-name>
        <url-pattern>/restrito/avaliacao/controller.avaliacao.psico/CadastrarAvlPsico</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controller.usuario.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarSenhaUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtualizarSenhaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/restrito/usuario/controller.usuario/AtivarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAvaliacao</servlet-name>
        <url-pattern>/restrito/avaliacao/controller.avaliacao.avpreliminar/CadastrarAvaliacao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
